{{ define "main" }}

  
<div class="container mt-5 pt-5">
  <script type="text/javascript">
	atOptions = {
		'key' : '9a4276b320ff0d4da736b3de0f52e2db',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivedisplayformat.com/9a4276b320ff0d4da736b3de0f52e2db/invoke.js"></scr' + 'ipt>');
</script>
  <div class="col pb-5">
    <h2 class="fw-bold display-6">Semua Tulisan</h2>
  </div>
  {{ range .Pages }}
  <div class="card mb-3 shadow">
    <div class="row">
      <div class="col-4">
        <img src="{{.Site.BaseURL}}img/4.jpg" style="height: 100%;" class="img-fluid rounded" alt="">
      </div>
      <div class="col-8">
        <div class="card-body">
          <h3 class="fw-bold">{{.Title}}</h3>
          <small class="text-muted">{{.Date.Format "02 Jan 2006"}}</small>
          <a class="stretched-link" href="{{.Permalink}}"></a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>
  
{{ end }}
