    <!-- Footer -->

    <footer class="text-white text-center">
      <div class="d-flex justify-content-center">
        <a href="#" class="text-white nav-link fs-3 fa fa-youtube"></a>
        <a href="#" class="text-white nav-link fs-3 fa fa-github"></a>
        <a href="#" class="text-white nav-link fs-3 fa fa-google"></a>
      </div>
      <div class="d-flex justify-content-center mb-3">
        <a class="nav-link text-white" href="{{.Site.BaseURL}}">Home</a>
        <a class="nav-link text-white" href="{{.Site.BaseURL}}blog">Blog</a>
        <a class="nav-link text-white" href="{{.Site.BaseURL}}about">About</a>
      </div>
      <p>&copy; 2021 Riki - Made with love</p>
    </footer>

    <!-- Akhir Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
