
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <div class="d-flex align-items-center">
          <img src="{{.Site.BaseURL}}img/luffy.png" class="rounded-circle me-2" style="width: 30px; height: 30px;" alt="">
          <a class="navbar-brand fw-bold" href="#">Riki</a>
        </div>
        <div class="d-flex text-white">
          <a class="nav-link" href="{{.Site.BaseURL}}">Home</a>
          <a class="nav-link" href="{{.Site.BaseURL}}blog">Blog</a>
          <a class="nav-link" href="{{.Site.BaseURL}}about">About</a>
        </div>
      </div>
    </nav>

    <!-- Akhir Navbar -->
